/*____________________main_props_start____________________*/
*{
  margin: 0;
  padding: 0;
  outline: none;
}
/*____________________main_props_end____________________*/
/*____________________block_styles_start____________________*/
.wrapper{

}
#block_one{

}
#block_two{

}
/*____________________block_styles_end____________________*/
